h1 {
  font-family: Piazzolla;
}

p {
  font-family: Source Sans Pro; 
}

li {
  text-decoration: underline;
}

#list-title {
  font-family: Piazzolla; 
  font-size: large;
  font-style: bolder;
  text-decoration: underline;
  background-color: bisque;
}

.photo-caption {
  font-size: small;
  font-family: Source Sans Pro;
  font-style: italic;
}