h1 {
  font-family: Piazzolla;
}

p {
  font-family: Source Sans Pro; 
}

li {
  text-decoration: underline;
}
.photo-caption {
  font-size: small;
  font-family: Source Sans Pro;
  font-style: italic;
}