body{
  background-color: #EEE2DC;
}

h1 {
  font-family: Piazzolla;
  background-color: #AC3B61;
  color: white;
}

h3 {
  font-family: Piazzolla;
  color: #123C69;
  background-color: #EDC7B7;
}

p {
  font-family: Source Sans Pro; 
}

img {
  box-shadow: 15px 15px 5px #EDC7B7;
}

#show-uses1 {
  display: none;
}

#show-uses2 {
  display: none;
}

#show-uses3 {
  display: none;
}

#show-uses4 {
  display: none;
}

#show-uses5 {
  display: none;
}

#show-uses6 {
  display: none;
}

#click-me1:hover {
  cursor: pointer;
  color: #0088cc;
  text-decoration: underline;
}

#click-me2:hover {
  cursor: pointer;
  color: #0088cc;
  text-decoration: underline;
}

#click-me3:hover {
  cursor: pointer;
  color: #0088cc;
  text-decoration: underline;
}

#click-me4:hover {
  cursor: pointer;
  color: #0088cc;
  text-decoration: underline;
}

#click-me5:hover {
  cursor: pointer;
  color: #0088cc;
  text-decoration: underline;
}

#click-me6:hover {
  cursor: pointer;
  color: #0088cc;
  text-decoration: underline;
}

#list-title {
  font-family: Piazzolla; 
  font-size: large;
  font-style: bolder;
  color: white;
  text-decoration: underline;
  background-color: #123C69;
  box-shadow: 5px 5px 2px #BAB2B5;
}

.list-highlight {
  background-color: #BAB2B5;
}
.photo-caption {
  font-size: small;
  font-family: Source Sans Pro;
  font-style: italic;
}

.btn {
  background: #123C69;
  color: white;
}

.question-styling {
  background: #EDC7B7;
}

.link-backsplash {
  background-color: #BAB2B5;
}

#swift-logo {
  display: none;
  border-style: inset;
  border-color: #123C69;
  padding: 10px 10px 30px 10px;
  
}

#java-logo {
  display: none;
  border-style: inset;
  border-color: #123C69;
  padding: 10px 10px 30px 10px;
}

#javascript-logo {
  display: none;
  border-style: inset;
  border-color: #123C69;
  padding: 10px 10px 30px 10px;
}

#python-logo {
  display: none;
  border-style: inset;
  border-color: #123C69;
  padding: 10px 10px 30px 10px;
}